@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  text-shadow: 0 0 5px black;
  flex: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: darkslategray;
  top: 0;
  width: 100%;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

li,
a {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: teal;
  text-shadow: 0 0 2px antiquewhite;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.github {
  font-weight: 400;
  font-size: 40px;
}

.github:hover {
  transition: all 0.3s ease 0s;
  color: teal;
  text-shadow: 0 0 2px antiquewhite;
}

.portrait {
  width: 20%;
  display: flex;
  flex: 1 1 0;
  border-radius: 600px;
}

header .h1 {
  flex: 2 1;
  padding: 20px;
  margin: 20px;
  align-self: center;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: darkslategray;
  flex: 1 0 20%;
  float: inline-start;
  justify-content: center;
  padding: 25px;
}

.icons {
  align-self: center;
}

section {
  background-color: antiquewhite;
  color: darkslategray;
  flex: 1 0 80%;
  text-shadow: none;
  padding: 25px;
}

.container {
  display: block;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.mini-container {
  display: flex;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.text {
  color: darkslategray;
}

.text:hover {
  color: teal;
  text-shadow: 0 0 2px darkslategray;
  transition: all 0.3s ease 0s;
}

.thumbnails {
  display: block;
}

#thumbnails-first {
  display: inline;
  justify-content: center;
  width: 80%;
  box-shadow: 0 2px 10px black;
}

#thumbnails-first:hover {
  width: 85%;
  opacity: 0.3;
  transition: 0.5s ease;
}
#thumbnails-rest {
  display: inline;
  flex: 1 2 0;
  width: 50%;
  margin: 2%;
  box-shadow: 0 2px 10px black;
}
#thumbnails-rest:hover {
  width: 60%;
  opacity: 0.3;
  transition: 0.5s ease-out;
}

#contacts {
  width: 100%;
}
.contact-section {
  align-content: center;
  min-height: 500px;
}

.form-fillable {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.button {
  background-color: darkslategray;
  color: antiquewhite;
  font-family: "Secular One", sans-serif;
}

footer {
  background-color: darkslategray;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .nav-links li a {
    margin: 5px;
    font-size: 20px;
  }
  .portrait {
    width: 80%;
    display: flex;
    flex: 1 1 0;
    border-radius: 600px;
  }

  .h1 {
    font-size: 30px;
  }
  section {
    padding: 25px;
  }

  #thumbnails-first {
    width: 90%;
  }

  #thumbnails-rest {
    width: 70%;
  }

  #thumbnails-rest:hover {
    width: 80%;
  }

  .label-text {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .mini-container {
    display: flex;
    flex-direction: column;
  }

  aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  aside h1 {
    font-size: 50px;
  }

  .portrait {
    width: 70%;
    display: flex;
    flex: 1 1 0;
    border-radius: 600px;
  }

  .thumbnails {
    display: flex;
    flex-direction: column;
  }

  #thumbnails-rest {
    width: 50%;
  }

  #thumbnails-rest:hover {
    width: 70%;
  }
}
