@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
    background-image: url(../images/shadowfell\ forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

li, a {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: darkslategray;
}

.logo {
    width: 66px;
}

.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: teal;
    text-shadow: 0 0 2px antiquewhite;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
}
.about-me {
    display: flex;
    justify-content:space-between;
    background-color:darkslategray;
    margin-block-end: 50px;

}