@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  text-shadow: 0 0 5px black;
  flex: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: darkslategray;
  top: 0;
  width: 100%;
}

li,
a {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
}
