@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  text-shadow: 0 0 5px black;
  flex: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: darkslategray;
  top: 0;
  width: 100%;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

li,
a {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: darkslategray;
  flex: 1 0 20%;
  float: inline-start;
  justify-content: center;
  padding: 25px;
}

section {
  background-color: antiquewhite;
  color: darkslategray;
  flex: 1 0 80%;
  text-shadow: none;
  padding: 25px;
}

.container {
  display: block;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.mini-container {
  display: flex;
}

/* .thumbnails {
  display: block;
  justify-content:space-around;
} */
#thumbnails-first {
  display: inline;
  justify-content: center;
  width: 80%;
  box-shadow: 0 2px 10px black;
}

#thumbnail-text {
}

#thumbnails-first:hover {
  width: 85%;
  opacity: 0.3;
  transition: 0.5s ease;
}
#thumbnails-rest {
  display: inline;
  flex: 1 2 0;
  width: 25%;
  margin: 2%;
  box-shadow: 0 2px 10px black;
}
#thumbnails-rest:hover {
  width: 30%;
  opacity: 0.3;
  transition: 0.5s ease-out;
}

#contacts {
  width: 100%;
}
.contact-section {
  align-content: center;
  min-height: 500px;
}

.form-fillable {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.button {
  background-color: darkslategray;
  color: antiquewhite;
  font-family: "Secular One", sans-serif;
}
